@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    color-scheme: dark;
}

*{
    outline: none;   
    
}

.navlink{
    @apply text-sm bg-gradient-to-r from-orange-400 -to--color-white  text-transparent bg-clip-text  active:text-orange-400 duration-300 ease-in-out group-hover:-text--color-white group-hover:text-[0.95rem];
}

.bgClip{
    @apply bg-gradient-to-r from-orange-400 -to--color-white  text-transparent bg-clip-text  active:text-orange-400 duration-300 ease-in-out;
}

.name{
    @apply -text--color-white text-[0.9rem] overflow-hidden whitespace-nowrap antialiased text-ellipsis select-none;
}

.footerlinks{
    @apply text-[.79rem] hover:underline -text--color-light ;
}